<!doctype html>
<html>
<head>
	<title>Coursera JIRA Ticket Tracker</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
	<link rel="stylesheet" href="css/sexy.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body ng-app="CJTTApp">
	<div class="content" ng-controller="CJTTController as JTCtrl">
		<h1 ng-init="JTCtrl.getJIRAS()">JIRA<br>Ticket Tracker</h1>
		<form ng-show="JTCtrl.forma" class="pure-form pure-form-stacked">
			<div class="pure-control-group">
				<legend><b>Choose Business</b></legend>
				<select class="pure-u-1" ng-model="JTCtrl.business">
					<option value="b2c">B2C</option>
					<option value="est">B2B</option>
					<option value="dst">Degree</option>
					<option value="ib2c">Improvement B2C</option>
					<option value="iest">Improvement B2B</option>
					<option value="idst">Improvement Degree</option>
					<option value="lhc">LHC Articles</option>
					<option value="zdk">Zendesk</option>
				</select>
			</div>
			<div class="pure-control-group">
				<legend><b>Choose the JIRA</b></legend>
				<select class="pure-u-1" ng-model="JTCtrl.jira" ng-change="JTCtrl.change()">
					<option ng-repeat="jira in JTCtrl.jiralist" value="{{jira}}">{{jira}}</option>
					<option value="new">Add JIRA</option>
				</select>
			</div>
			<div class="pure-control-group" ng-show="JTCtrl.newjirabox">
				<legend><b>Enter new JIRA</b></legend>
				<input class="pure-input-1" type="text" placeholder="LS-0000" ng-model="JTCtrl.newjira">
				<button class="pure-button pure-u-1-2 button-secondary" ng-click="JTCtrl.retrieveJIRA()">Get JIRA</button>
			</div>
			<div class="pure-control-group" ng-show="JTCtrl.descriptionbox">
				<legend><b>Description</b></legend>
				<span class="desc">{{JTCtrl.description}}<br>Ref: #{{JTCtrl.reference}}</span>
			</div>
			<div class="pure-control-group">
				<legend><b>Ticket reference</b></legend>
				<input class="pure-input-1" type="text" placeholder="000000" ng-model="JTCtrl.ticket">
			</div>
			<span class="error" ng-show="JTCtrl.error">Something is missing ...</span>
			<div class="pure-control-group">
				<button class="pure-button pure-u-1-2 button-success pure-u-1" ng-click="JTCtrl.trackTicket()"><b>Track Ticket</b></button>
			</div>
		</form>
		<span class="enjoy" ng-show="JTCtrl.logrado">
			<b>Your ticket has been tracked!</b><br>
			<b>Ticket:</b> {{JTCtrl.ticket}}<br>
			<b>JIRA:</b> {{JTCtrl.jira == "new"? JTCtrl.newjira : JTCtrl.jira}}<br><br>
			Remember to <b>link</b> it and <b>notify</b>.
		</span>
		<span class="error" ng-show="JTCtrl.fallado"><b>Something went wrong.<br>The ticket wasn't tracked.</b></span>
		<br>
		<div ng-show="JTCtrl.loading" class="loader">
			<img src="images/load.gif">
		</div>
	</div>
	<div>
		<a href="mailto:coursera.kb@24-7intouch.com"><span class="signature">Coursera TFS 2020</span></a>
	</div>
	<script src="js/action.js"></script>
</body>
</html>